.card {
  position: relative;
  background-color: #ecf0f1;
  max-width: 100%;
  width: 250px;
  min-width: 250px;
  min-height: 350px;
  display: flex;
  flex-flow: column;
  border-radius: 0.25rem;
  margin: 1.8rem;
  user-select: none;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -10px rgba(#7f8c8d, 1);
}

.card-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.25rem 0.25rem 0 0;
  opacity: 0;
  opacity: 1;
  transition: 1s;
}
