.cardlist-container {
  display: flex;
  flex-direction: column;
}

.cardlist-newreleases {
  padding: 30px;
  align-self: center;
}

.cardlist-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
